---
eleventyComputed:
    title: "{{ name }}"
layout: "base.njk"
---

{% include 'header-secondary.njk' %}

<div class="member-profile-container">
	<div class="member-profile">
		<div class="member-profile-heading">
			{{ name }}
		</div>
		<div class="member-profile-body">
			{{ content | safe }}
		</div>
		{% if (twitter) or (facebook) or (linkdin) or (instagram) %}
		<div class="post-content-share">
			<div class="share-link-container">
				<span>Connect: </span>
				{% if facebook %}
				<a class="facebook-share-button" target="_blank" href="{{ facebook }}" data-size="large">
					<i class="fab fa-facebook-square"></i>
				</a>
				{% endif %}
				{% if twitter %}
				<a class="twitter-share-button" target="_blank" href="{{ twitter }}" data-size="large">
					<i class="fab fa-twitter"></i>
				</a>
				{% endif %}
				{% if linkedin %}
				<a class="linkdin-share-button" target="_blank" href="{{ linkedin }}" data-size="large">
					<i class="fab fa-linkedin"></i>
				</a>
				{% endif %}
			</div>
		</div>
		{% endif %}
	</div>
</div>

<div class="more-posts">
	<div class="heading">
		More from {{ name }}
	</div>

	<div class="card-container">
		
		{% set postList = collections[tagRef] | reverse %}
		{%- for post in postList -%}
		<a class="post-card"  href="{{ post.url }}">
			<div class="post-card-thumbnail">
				<img class src="{{ post.data.featureImage }}" alt="Girl in a jacket">
			</div>
			<div class="post-card-preview">
				<div class="post-badge">
					{{ post.data.badge | makeUppercase }}
				</div>
				<div class="post-card-preview-title">{{ post.data.title }}</div>
				<div class="post-card-preview-body">
					{{ post.data.preview }}
				</div>
			</div>
		</a>
		{%- endfor -%}		
	</div>
</div>