<div class="footer">
	<div class="footer-inner">

		<div class="footer-logo">
			ACMC
		</div>

		<hr>

		<div class="footer-links">
			<a class="footer-links-item" href="#">
				<i class="fas fa-landmark"></i>
				<span class="footer-links-item-caption">
					ABOUT
				</span>
			</a>
			<a class="footer-links-item" href="#">
				<i class="fas fa-phone-alt"></i>
				<span class="footer-links-item-caption">
					CONTACT
				</span>
			</a>
			<a class="footer-links-item" href="#">
				<i class="fab fa-twitter"></i>
				<span class="footer-links-item-caption">
					FOLLOW
				</span>
			</a>
		</div>

		<hr>

		<div class="footer-members">
			<ul class="footer-members-list">
				{%- for member in collections.members -%}
				<li class="footer-members-list-item">
					<a href="member.data.url">
						{{ member.data.name }}
					</a>
				</li>
				{%- endfor-%}
			</ul>
		</div>

	</div>
</div>