<div class="footer">
	<div class="footer-inner">

		<div>© 2021 Australian COVID-19 Modelling Initiative (AUSCMI) </div>
		<div class="links">
			<a href="/about">About</a>
			<a href="mailto:population-interventions@unimelb.edu.au">Contact</a>
		</div>

		<!-- <div class="footer-links">
			<a class="footer-links-item" href="#">
				<i class="fas fa-landmark"></i>
				<span class="footer-links-item-caption">
					ABOUT
				</span>
			</a>
			<a class="footer-links-item" href="#">
				<i class="fas fa-phone-alt"></i>
				<span class="footer-links-item-caption">
					CONTACT
				</span>
			</a>
			<a class="footer-links-item" href="#">
				<i class="fab fa-twitter"></i>
				<span class="footer-links-item-caption">
					FOLLOW
				</span>
			</a>
		</div> -->



	</div>
</div>