<div class="header">
	<div class="header-controls">
		<i class="fas fa-bars open-nav"></i>
		<a href="https://twitter.com/unimelbMSPGH?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor" target="_blank">
			<i class="fab fa-twitter"></i>
		</a>
	</div>	

	<div class="header-short-title">
		ACMC
	</div>

	<div class="header-long-title">
		THE AUSTRALIAN COVID-19 MODELLING COALITION
	</div>

	<div class="header-nav">
		<div class="header-nav-inner">
			<a class="" href="">POPULATION INTERVENTIONS UNIT</a>
			<a class="" href="">BURNET INSTITUTE</a>
			<a class="" href="">CENTER FOR COMPLEX SYSTEMS</a>
			<a class="" href="">UNIVERSITY OF WESTERN AUSTRALIA</a>
		</div>
	</div>
</div>

{% include 'nav.njk' %}