<div class="header">
	<div class="header-controls">
		<i class="fas fa-bars open-nav"></i>
		<a href="https://twitter.com/AUSCMI" target="_blank">
			<i class="fab fa-twitter"></i>
		</a>
	</div>	

	<a href="/about" class="header-short-title">
		AUSCMI
	</a>

	<div class="header-long-title">
		THE AUSTRALIAN COVID-19 MODELLING INITIATIVE
	</div>
</div>
<div class="header-banner">
	<div class="header-banner-inner">
		<a href="/about">Welcome to AUSCMI! Read more about us</a>
	</div>
</div>

{% include 'nav.njk' %}