<div class="header">
	<div class="header-controls">
		<i class="fas fa-bars open-nav"></i>
		<!-- <a href="https://twitter.com/unimelbMSPGH?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor" target="_blank">
			<i class="fab fa-twitter"></i>
		</a> -->
		<div></div>
	</div>	

	<a href="/about" class="header-short-title">
		AusCMI
	</a>

	<div class="header-long-title">
		THE AUSTRALIAN COVID-19 MODELLING INITIATIVE
	</div>
</div>
<div class="header-banner">
	<div class="header-banner-inner">
		<a href="/about">Welcome to AusCMI! Read more about us</a>
	</div>
</div>

{% include 'nav.njk' %}