---
eleventyComputed:
    title: "{{ title }}"
layout: "base.njk"
---

{% block head %}
<!-- Twitter tag -->
<meta name="twitter:card" content="summary_large_image" />
<meta property="og:url" content="https://auscmi.org{{ page.url | url }}" />
<meta property="og:title" content="{{ title }}" />
<meta property="og:description" content=" {{ preview }}" />
<meta property="og:image" content="https://auscmi.org{{ featureImage | url }}" />
{% endblock %}

{% include 'header-secondary.njk' %}

<div class="post-banner">
	<div class="post-banner-image" style="background-image:url({{featureImage}});">
	</div>

	<div class="post-banner-heading-container">
		<div class="post-banner-heading">
			{{ title }}
		</div>
	</div>
</div>


<div class="post-content">
	<!-- <div class="post-content-title">
		{{ title }}
	</div> -->
	<div class="post-content-preview">
		{{ preview }}
	</div>
	<div class="post-content-author">
		{{ author }}
	</div>

	<div class="post-content-body">
		{{ content | safe }}
	</div>

	{%- for contributor in collections.contributors -%}
	{% if contributor.data.name == organisation %}
	<a href="{{ contributor.url }}" class="post-content-attribution">
		<div class="post-content-attribution-date">
			First published: {{ date | cleanDate }}
		</div>
		<div class="post-content-attribution-header">
			{{ contributor.data.name }}
		</div>
		<div class="post-content-attribution-body">
			{{ contributor.data.overview }}
		</div>
	</a>
	{% endif %}
	{%- endfor -%}

	<div class="post-content-share">
		<div class="share-link-container">
			<span>Share: </span>
			<a class="facebook-share-button" target="_blank" href="https://www.facebook.com/dialog/share?app_id=933889623386823&display=page&href=https%3A%2F%2Fauscmi.org{{ page.url | url }}" data-size="large">
				<i class="fab fa-facebook-square"></i>
			</a>
			<a class="twitter-share-button" target="_blank" href="https://twitter.com/intent/tweet?text=https://auscmi.org{{ page.url | url }}" data-size="large">
				<i class="fab fa-twitter"></i>
			</a>
			<a class="linkdin-share-button" target="_blank" href="https://www.linkedin.com/shareArticle?&url=https%3A%2F%2Fauscmi.org{{ page.url | url }}" data-size="large">
				<i class="fab fa-linkedin"></i>
			</a>
		</div>
	</div>
</div>

{%- for contributor in collections.contributors -%}
{% if contributor.data.name == organisation %}
<div class="more-posts">
	<div class="heading">
		More from {{ contributor.data.name }}
	</div>

	<div class="card-container">
		
		{% set postList = collections[contributor.data.tagRef] | reverse | recent(3) %}
		{%- for post in postList -%}
		<a class="post-card"  href="{{ post.url }}">
			<div class="post-card-thumbnail">
				<img class src="{{ post.data.featureImage }}" alt="Girl in a jacket">
			</div>
			<div class="post-card-preview">
				<div class="post-badge">
					{{ post.data.badge | makeUppercase }}
				</div>
				<div class="post-card-preview-title">{{ post.data.title }}</div>
				<div class="post-card-preview-body">
					{{ post.data.preview }}
				</div>
			</div>
		</a>
		{%- endfor -%}		
	</div>
</div>
{% endif %}
{%- endfor -%}