.footer {
	background-color: $c1;
	padding: $d $p;
	margin-top: 6rem;
	color: #fff;

	&-inner {
		max-width: 1400px;
		width: 100%;
		display: flex;
		margin: 0 auto;
		justify-content: space-between;
		align-items: center;
		font-size: 0.8rem;

		
		.links {
			
			a {
				color: #fff;
				text-decoration: none;
				padding-left: $p;

				&:hover {
					color: #fff;
					text-decoration: underline;
				}
			}
		}
	}
}