.post-banner {
	width: 100%;
	overflow: hidden;
	max-height: 700px;
	min-height: 200px;
	position: relative;

	&-feature-image {
		width: 100%;
		object-position: 50% 50%;
	}

	&-heading-container {
		position: absolute;
		bottom: 0;
		margin: 0;
		width: 100%;
		display: flex;
		justify-content: center;
		align-items: center;

		.post-banner-heading {
			padding: $h $p;
			background-color: #fff;
			font-family: $heading-stack;
			font-size: 3rem;
		}
	}
}

.post-content {
	background-color: #fff;
	max-width: 800px;
	margin: 0 auto;
	padding: $p;
	font-family: $serif-stack;

	&-preview {
		text-align: center;
		font-size: 1.2rem;
	}

	&-author {
		text-align: center;
		padding: $p 0;
		font-size: 0.7rem;
		font-style: italic;
	}

	&-attribution {
		padding: $p 0;
		margin-top: $p;
		text-decoration: none;
		border-top: 1px solid $c2;
		// border-bottom: 1px solid $c2;
		display: inline-block;

		&-header {
			font-family: $sans-serif-stack;
			color: $c2-darker;
			font-weight: 700;
			padding-bottom: $q;
		}

		&-body {
			font-family: $sans-serif-stack;
			font-size: 0.9rem;
			font-weight: 500;
			color: $c2-dark;
		}

		&:hover &-header {
			text-decoration: underline;
		}

	}

	&-share {
		height: 40px;
		display: flex;
		align-items: flex-end;

		.share-link-container {
			display: flex;
			align-items: flex-end;

			span {
				font-family: $sans-serif-stack;
				padding-right: 10px;
			}	

			a {
				text-decoration: none;
				padding-right: 5px;
				font-size: 1.2rem;
				transition: font-size 0.2s ease-in-out;
			}

			a:hover {
				font-size: 1.5rem;
			}

			.twitter-share-button {
				color: #0076de;
			}

			.facebook-share-button {
				color: #55acee;
			}

			.linkdin-share-button {
				color: #0976b4;
			}
		}
	}
}

.more-posts {
	margin: $p 0;
	padding: $p;

	.heading {
		text-align: center;
		font-family: $sans-serif-stack;
		color: $c2-darker;
		padding: $p 0;
		font-weight: 700;
		font-size: 1.2rem;
	}
}