.webinar-header {
	background-color: #fff;
	padding: $d $p 0 $p;
	box-sizing: border-box;	

	&-inner {
		max-width: 600px;
		margin: 0 auto;
		text-align: center;
	}	

	&-title {
		display: flex;
		flex-direction: column;
		align-items: center;
		font-size: 2.5rem;
		font-family: $heading-stack;

		&:after {
			content: "";
			margin: $h 0;
			border-bottom: 1px solid $c2;
			width: 100px;
		}
	}

	&-body {
		font-family: $serif-stack;
		font-style: italic;
	}

}


.webinar-feed {
	margin: 0 auto;
	padding: $d $p;
	padding-bottom: 6rem;
}

.webinar-player-container {
	width: 100%;
	padding: $d $p;
	background-color: $c2-light;
	display: flex;
	justify-content: center;

	.webinar-player {
		max-width: 700px;
		width: 100%;
		height: 500px
	}


}

.webinar-description {
	width: 100%;
	padding: $d $p;

	.webinar-description-inner {
		max-width: 700px;
		margin: 0 auto;

		.webinar-title {
			padding: $p 0 $h 0;
			font-family: $serif-stack;
			font-size: 1.5rem;
		}

		.webinar-preview {
			padding-bottom: $p;
			font-family: $serif-stack;
			font-style: 1.1rem;
			font-style: italic;
		}
	}
}
